.chargingStationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;

  .title {
    color: #1db954;
    margin-bottom: 20px;
  }

  .searchForm {
    input {
      width: 300px;
      height: 40px;
      border: solid 1px #dadada;
      padding: 10px 14px;
      margin-bottom: 20px;
      background: #fff;
      vertical-align: top;

      &:focus {
        outline: none;
        box-shadow: 0 0 0 1000px white inset;
         -webkit-box-shadow: 0 0 0 1000px white inset;
      }
    }
  }

  @media screen and (max-width: 768px) {
    .mobile {
      display: none;
    }
  }
}
